body {

    background-color: #f1e7e7;
    background-image: url(polka.gif);
  
    color: rgb(241, 37, 37);
  
    font-family: "Nunito", sans-serif;
  
    max-width: 768px;
  
    margin: 0 auto;
  
  }

  #random{
      text-align: center;
      color: red;
      background-color: rgb(224, 222, 94);
  }

  button{
    border-radius: 12px;
    color: rgb(224, 222, 94);
    background-color:rgb(216, 25, 25);
  }



#inputDiv{
    margin: 1% 22%;
    padding : 2%;
}

  h1{
      text-align: center;
  }

  h3{
      border: 3px solid rgb(29, 6, 71);;
  }
  
  * {
    box-sizing: border-box;
  }

#bingo {

    background-image: url(bingo.jpg);
  
    width: 100%;
  
    margin-bottom: 20px;
  
    border: 1px solid white;
  
  }

  .numbers {
  
    display: inline-block;
  
    width: 64px;
  
    text-align: center;
  
    min-height: 60px;
  
  }

  .selected {
  
    /* border: 1px solid white; */
   
        background-color: red;
        border: 1px green double;
        /* padding: 5px; */
        font-weight: bolder;
        color: blue;
      
  
  }