body {
  background-image: url(bingo.jpg);
  background-size: 100% 200%;
  background-repeat: no-repeat;  
} 

.main-board {

  width: 798px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.board {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;   
  padding-left: 1%;
  padding-bottom: 3%;
  padding-top: 3%;
}

.user-board{
  width: 504px;
  margin-bottom: 24px;      
}

h1{
    color: red;
}

button{
  border-radius: 12px;
  color: rgb(224, 222, 94);
  background-color:rgb(216, 25, 25);
}

.cell {
  background-repeat: no-repeat;  
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 80px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  color: rgb(22, 0, 0);
}

/* .cell {  
  display: inline-block; 
  flex-wrap: wrap; 
  width: 64px;  
  min-height: 60px;
  border: solid rgb(165, 27, 27) ;
  font-weight: bold;
  justify-content: center;
  align-items: center;  
} */

.highlight{
  background-image: url(polka.gif);
  background-size: 100% 100%; background-color: rgb(243, 129, 129);
  color: white;
  font-weight: bold;
}